html,body{
    background-image: url(Imagenes/fondo4.jpg);
}
#myCarousel{
    height:120%;
    width:25%;
    left:37%;
    top: 40%;
    position: absolute;
}
.active{
    top:100%;
}

.logoImg {
    margin-top: -9%;    
    background-color: beige;
    width: 20%;
    border-radius: 10px;
}
header{
    margin-left:18%;
    position: relative;
    width:60%;
    height: 20%;
    margin-top:-2.5%;    
}
h1{
    background: black;
    border-radius: 0.5em;
    padding: 0.02em;
    color: #00FF00;
    font-size: 50px;
    font-family:sans-serif;
    text-align: center;
    text-shadow: 8px 5px 10px rgba(255,255,255,0.5);
    margin-left:28%;
    margin-top:9%;
    width:55%;
}

h2{
    color: black;
    font-size:30px;
    font-family:sans-serif;
    text-align: center;
    margin-left:20%;
    margin-top:48%;
    padding:4%;
    width:55%;
}
.menu{
    margin-left: 5%;
    width:95%;
}
button{
    background-color: transparent;
    margin-top: -19%;
    width: 8%;
    margin-left:100%;
}
.dropdown-menu{
    background-color: lightgray;
    margin-top: -13%;
    margin-left:89%;
    text-align: center;
}
.CloseImage{
    width: 20px;
    height: 20px;
   
}
footer {
    background-color: beige;
    position: relative;
    margin-left:17%;
    align-content: center;
    width:73%;|
    height: 15%;
}
section{
    background-image: url(Imagenes/fondoRedesociales.jpg);
    border-radius: 0.9em;
    width: 20%;
    height: 17%;
    margin:20%;
    text-align: center;
    margin-left: 40%;    
    padding: 1.5%;

}
.facebook,.twiter{
    text-shadow: 8px 5px 10px rgba(255,255,255,0.5);
    
}

